<h1>show_follow.html.erb <%= @title %></h1>

<% if @users.any? %>
	<ul class="users">
		<%= render @users %>
	</ul>
<% end %>

<strong> Name </strong> <%= @user.name %> <br />
<strong> URL </strong> <%= link_to user_path(@user), @user %> <br />
<strong> Microposts </strong> <%= @user.microposts.count %> <br />
<%= render 'shared/stats' %>
<% if @users.any? %>
	<% @users.each do |user| %>
		<%= link_to gravatar_for(user, :size => 30), user %>
	<% end %>
<% end %>
