<h1>
	<%= gravatar_for @user, :size => 50 %>
	<%= @user.name %>
</h1>
<%= render 'follow_form' if signed_in? %>

<% if @user.microposts.any? %>
	<ol id="microposts">
		<%= render @microposts %>
	</ol>
	<%= will_paginate @microposts %>
<% end %>

<div class="about_user">
	Name - <%= @user.name %>
	<br>
	Email - <%= @user.email %>
	<br>
	URL - <%= link_to user_path(@user), @user %>
	<br>
	Count - <span class="micropost_count"><%= @user.microposts.count %></span>
	<br>
	<%= render 'shared/stats' %>
	
</div>


