<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>

	<div class="field">
		<%= f.label :content, "Your mum" %>
		<%= f.text_area :content %>
	</div>
	<div class="field">
		<%= f.submit "Submit" %>
	</div>
<% end %>